<script data-parsed-article type="text/json" charset="utf-8"><%= @parsed_article.to_json.html_safe %>
</script>

<script id="text-template" type="text/x-handlebars-template">
  {{#each words}}
    {{#showSourceLanguage lvl}}
      {{{src}}}
    {{else}}
      <b>{{{tar}}}</b>
    {{/showSourceLanguage}}
  {{/each}}
</script>

<div id="slider"></div>
<div id="article"></div>
