<div class="hello-world">
  <div class="world">
    <div class="hello">hello</div>
    <div class="bonjour">bonjour</div>
    <div class="hola">hola</div>
    <div class="gutin-tag">guten tag</div>
    <div class="buon-giorno">buon giorno</div>
    <div class="previet">привет</div>
    <div class="konnichiwa">こんにちは</div>
    <div class="chinese">你好</div>
  </div>
    <div class="cta">
      <h1>Pilgrim</h1>
      <h2>Global News Without Borders</h2>
    </div>
</div>

<div class="what">
  <h1>What is Pilgrim?</h1>
  <div class="icons">
    <div class="global-news"></div>
    <div class="without-borders"></div>
  </div>
  <div class="pointer-box">
    <div class="carrot"></div>
  </div>
  <div class="icon-description">
    <h1>The First Global News Aggregator</h1>
    <p>Pilgrim is the first global news aggrigator.  Pilgrim helps break down barriers between foreign countries, providing you with news articles in a variety of languages, originating from every corner of the globe.  With articles taylored to your interests, Pilgrim helps provide you with everything you need to stay up to date with whats happening in the world</p>
  </div>
</div>

<script>
(function () {
  var $boxes = $('.icon-description, .carrot');
  var $carrot = $('.carrot');
  $('.without-borders').on('click', function() { 
    $boxes.animate({backgroundColor: '#2ecc71'});
    $carrot.animate({left: '75%'});
  });
  $('.global-news').on('click', function() {
    $boxes.animate({backgroundColor: '#3498db'});
    $carrot.animate({left: '25%'});
  });
})()
</script>
