<div class="hello-world">
    <div class="cta">
      <h1>Worldwide News</h1>
      <h2>News from all around the globe, at any level you need.  Break down the language barrier today.</h2>
      <%= link_to "Sign Up", '/auth/google_oauth2' %>
    </div>
    <div class="cta-demo sharp-shadow">
      <div class="words">Pilgrim</div> <div class="words">is</div> <div class="words">the</div> <div class="words one back">first</div> <div class="words">global</div> <div class="words">news</div> <div class="words three back">aggregator.</div>  <div class="words">Pilgrim</div> <div class="words">helps</div> <div class="words">break</div> <div class="words">down</div> <div class="words">barriers</div> <div class="words">between</div> <div class="words two back">foreign</div> <div class="words">countries,</div> <div class="words">providing</div> <div class="words four back">you</div> <div class="words">with</div> <div class="words">news</div> <div class="words">articles</div> <div class="words">in</div> <div class="words">a</div> <div class="words">variety</div> <div class="words">of</div> <div class="words">languages,</div> <div class="words">originating</div> <div class="words tres back">from</div> <div class="words">every</div> <div class="words uno back">corner</div> <div class="words">of</div> <div class="words">the</div> <div class="words">globe.</div>  <div class="words">With</div> <div class="words cuatro back">articles</div> <div class="words">tailored</div> <div class="words">to</div> <div class="words">your</div> <div class="words dos back">interests.</div>
      <input class="slider" data-source="<%= @language %>" type="range" name="points" min="1" max="30" step="1" value="1">
    </div>
</div>

<div class="what">
  <h1>What is Pilgrim?</h1>
  <div class="icons">
    <div class="globe sharp-shadow"></div>
    <div class="translate sharp-shadow"></div>
    <div class="dbc sharp-shadow"></div>
  </div>
  <div class="pointer-box">
    <div class="carrot"></div>
  </div>
  <div class="icon-description"><div class="pseudo-box-shadow"></div>
    <span id="globe"><h1>The First Global News Aggregator</h1>
        <p>Pilgrim is the first global news aggrigator.  Pilgrim helps break down barriers between foreign countries, providing you with news articles in a variety of languages, originating from every corner of the globe.  With articles taylored to your interests, Pilgrim helps provide you with everything you need to stay up to date with whats happening in the world</p></span>
    <span id="translate" style="display:none;"><h1>Foreign Languages at your Level</h1>
        <p>Pilgrim offers a simply yet powerful slider that personally tailors every article to your proficiency.  Effortlessly immerse yourself in a language, or clearify an article wirtten in a foreign language with ease.</p></span>
    <span id="dbc" style="display:none"><h1>Dev BootCamp</h1>
        <p>Pilgrim was a project concieved and created by 3 boots at Dev BootCamp, a 9 week intensive for web developement.  After hundreds of hours learning the material, each team was given once week to develope a web application.</p></span>
  </div>
</div>

