<div id="options">
  <select name="Language" id="language">
    <option value="English">English</option>
    <option value="Spanish">Spanish</option>
    <option value="French">French</option>
    <option value="German">German</option>
    <option value="Italian">Italian</option>
    <option value="Portuguese">Portuguese</option>
    <option value="Japanese">Japanese</option>
    <option value="Madarin">Madarin</option>
    <option value="Russian">Russian</option>
    <option value="Greek">Greek</option>
  </select>
  <div id="slider"></div>
</div>
<div id="article">
<script id="text" type="text/x-handlebars-template">
    {{#each words}}{{src}} {{/each}}
</script>
  <!-- <#% @words.each do |word| %> -->
    <!-- <#% if word.entry == '-p' %> -->
      <!-- <#% int = 'break' %> -->
    <!-- <#% else %> -->
      <!-- <#% case word.id % 4 %> -->
        <!-- <#% when 0 %> -->
          <!-- <#% int = 'class4' %> -->
        <!-- <#% when 1 %> -->
          <!-- <#% int = 'class1' %> -->
        <!-- <#% when 2 %> -->
          <!-- <#% int = 'class2' %> -->
        <!-- <#% when 3 %> -->
          <!-- <#% int = 'class3' %> -->
      <!-- <#% end %> -->
    <!-- <#% end %> -->
    <!-- <div class="<#%= int %>"><#%= word.entry %></div> -->
  <!-- <#% end %> -->
</div>
