<div id="options">
  <select name="Language" id="language">
    <option value="en">English</option>
    <option value="es">Spanish</option>
    <option value="fr">French</option>
    <option value="de">German</option>
    <option value="it">Italian</option>
    <option value="pt">Portuguese</option>
    <option value="ja">Japanese</option>
    <option value="zh-CN">Mandarin</option>
    <option value="ru">Russian</option>
    <option value="el">Greek</option>
  </select>
  <div id="slider"></div>
</div>
<div id="article">
  <script id="text" type="text/x-handlebars-template">

      {{#each words}}
        {{#checkProficiency lvl}}
          {{src}}
        {{else}}
          <b>{{tar}}</b>
        {{/checkProficiency}}
      {{/each}}
  </script>
      <!-- // {{level}}, {{src}}, {{tar}}
      // level in javasctipt is equal to value of slider
      // if the level in javascript is >= the {{level}} then
      // ouput tar
      // else
      // output -->
</div>
