#article_title {
  padding: 5% 5% 0 5%;
  margin: 6% auto 0 auto;
  width: 89%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36pt;
}

#article {
  padding: 3% 5% 5% 5%;
  margin: auto;
  width: 89%;
  font-family: Times;
  font-size: 16pt;
  line-height: 150%;
  img {
    width: 89%;
  }
}

#preferences {
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 99%;
  margin-top: 2px;
  margin-left: 5px;
  z-index: 100;
  box-shadow: inset 0 100px 20px -40px  white;
  #options {
    display: inline-block;
    float: left;
    width: 25%;
    margin-left: 5%;
    #language {
      padding: 10px 30px;
      background: transparent;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 18pt;
      font-weight: 300;
      border: 0;
      #box-shadow: -3px 3px 0 #e2dfd7, inset -1px -1px #e2dfd7, inset 1px 1px #e2dfd7;
      border-radius: 0;
      -webkit-appearance: none;
      background: url(Dropdown_Arrow.png) no-repeat right white;
      background-size: 30px 30px;
      cursor: pointer;
    }
  }
  .help {
    height: 50px;
    line-height: 60px;
    font-size: 20pt;
    margin: 0 6%;
    float: left;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    &:active {
      outline: none;
    }
  }
  #slider {
    float: right;
    width: 40%;
    display: inline-block;
    margin-right: 10%;
    margin-top: 3%;
  }
  #question {
    width: 30px;
    height: auto;
  }
  #question:hover {
    cursor: pointer;
  }
  #how_to {
    display: none;
    text-align: center;
    height: 50px;
    line-height: 20px;
    clear: both;
    width: 100%;
  }
}

.display-image {
  float: left;
  margin: 10px 10px 0 0 ;
  width: 35%;
}

.title-poster {
  font-size: 3em;
  font-weight: bold;
}

.summary-poster {
  font-size: 1.5em;
  line-height: 1.5em;
}

.title-square {
  font-size: 1.5em;
  font-weight: 900;
}

.summary-square {
  font-size: 1.5em;
  line-height: 1.1em;
}

.title-horiz-rectangle {
  font-size: 2.5em;
  font-weight: bold;
}

.summary-horiz-rectangle {
  font-size: 1.5em;
  line-height: 1.5em;
}

.title-vert-rectangle {
  font-size: 2em;
  font-weight: bold;
}

.summary-vert-rectangle {
  font-size: 1.5em;
  line-height: 1.5em;
}

