#options {
  position: fixed;
  top: 30%;
  right: 10%;
  width: 40%;
}

#slider {
  position: fixed;
  top: 50%;
  right: 10%;
}

#language {
  margin: 2%;
  display: inline-block;
}

#article {
  position: absolute;
  top: 20%;
  right: ;
  width: 40%;
}

.break {
  height: 20px;
  clear: both;
}

.class1, .class2, .class3, .class4 {
  font-size: large;
  float: left;
  margin-right: 5px;
}

.ui-slider-handle {
  width: 2em;
}
