#language {
  margin: 2%;
  display: inline-block;
}

.break {
  height: 20px;
  clear: both;
}

.class1, .class2, .class3, .class4 {
  font-size: large;
  float: left;
  margin-right: 5px;
}

.ui-slider-handle {
  width: 2em;
}
