#slider {
  width: 20%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 3%;
}

#article {
  text-align: justify;
  margin: auto;
  width: 40%;
}

.break {
  height: 20px;
  clear: both;
}

.class1, .class2, .class3, .class4 {
  font-size: large;
  float: left;
  margin-right: 5px;
}

.ui-slider-handle {
  width: 2em;
}
